
div{
    height: 200px;
    width: 500px;
    border: 2px solid;
    background-color: #a8eddf;
    text-align: center;
    padding: 3%;
    border-radius: 35px;
    box-shadow: 15px 15px 15px;
}
#output{
    border: 2px dotted hotpink;
    background-color: #65cc5a;
    font-style: italic;
    text-align: center;

}
#btn{
    box-shadow: 0 10px 15px;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}